@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,600,400|Montserrat:400,700);

body{
  background:url(greyzz.png);
  font-family:'Open Sans', sans-serif;
  margin:0;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
}

.preview_bg{
  position:absolute;
  right:-1px;
  top:-1px;
  border:1px dashed #ddd;
  background:#fdfdfd;
  width:60px;
}

#loader_preview .sp-replacer{
  position:absolute;
  right:-1px;
  top:-1px;
  border:1px dashed #ddd;
  background:#fdfdfd;
  border-radius:3px;
  box-shadow:none;
}

#loader_preview .sp-preview{
  border:#ccc 1px solid;
}

h1, h2, h3, h4, h5, h6, #name{
  font-family: 'Montserrat', sans-serif;
}

header{
  background: #4d4d4d;
  width:100%;
  height:50px;
  margin-bottom:20px;
  position:relative;
  box-shadow:0px 2px 0px -1px rgba(255,255,255,0.12) ,0px 4px 0px 0px #424242, 0px 0px 5px 4px #999;
}

#o{
  position:absolute; 
  margin-top:1px;
  margin-left:-15.5px;
}

.hidden-o{
  opacity:0;
}

.center{
  text-align:center;
}

#name{
  color:#fff;
  line-height: 50px;
  text-align:center;
  font-size:25px;
  font-weight:bold;
  text-shadow:0 0 5px #333;
  
} #name span {
  color:#3bbbff !important;
}

#loader{
  display:table-cell;
  vertical-align: middle;
}

#name .left, #name .right {
  font-size:15px;
  text-shadow: none;
  color:#fff;
  padding:5px;
  position:relative;
  top:22px;
  border-radius:3px;
  text-decoration: none;
  font-weight:normal;
  padding-left:10px;
  padding-right:10px;
  z-index:2;
  font-family:'Open Sans';
  font-weight:600 !important;
  color:#fff !important;
  min-width:400px;
}

.btn {
  border: solid 1px #424242;
  background: #4d4d4d;
  box-shadow:inset 0px -2px 0px -1px rgba(255,255,255,0.05), 0px 3px 0px 0px #424242;
  font-size:15px;
  text-shadow: none;
  color:#fff;
  padding:5px;
  position:relative;
  top:15px;
  border-radius:3px;
  text-decoration: none;
  font-weight:normal;
  padding-left:10px;
  padding-right:10px;
  z-index:2;
  font-family:'Open Sans';
  font-weight:600 !important;
  color:#fff !important;
  min-width:400px;
}

.btn:active{
  top:18px;
  box-shadow:none;
}

#name .left{left:-232px;}
#name .right{right:-232px;}

#name .left:before, #name .right:before{
  content:' ';
  background:#4d4d4d;
  position:absolute;
  z-index:-1;
  width:100% !important;
  padding:5px;
  left:-5px;
  top:10px;
  height:12px;
  border-radius:4px;
  box-shadow:0px 2px 0px -1px rgba(255,255,255,0.13) ,0px 4px 0px 0px #424242, 0px 7px 5px -3px #999;
}

tr td:nth-child(2) { 
  border-right:1px solid #dfdfdf;
  padding-right:20px;
}

tr td:nth-child(3) { 
  padding-left:15px;
}

table td{
  padding-right:10px;
  padding-bottom:10px;
  margin-top:-3px;
}

#loader_preview{
  display:table;
  vertical-align: middle;
  border:1px dashed #ddd;
  width:400px;
  height:405px;
  background:white;
  border-radius:5px;
  text-align:center;
  position:relative;
}

#options{
  display:inline-block;
  margin-left:20px;
  font-size:13px;
  font-weight: 600;
}

.c{
  color:slategray;
}

code span{
  color:#3bbbff ;
}

pre{
  font-size:12px;
  background:#333638;
  line-height:;
  color:#f8f8f2;
  padding:1em;
  border-radius:2px;
  border:1px solid #2c3434;
  box-shadow:0px 3px 0px 0px #2c3434, inset 0px -2px 0px -1px rgba(255,255,255,0.06);
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
}

pre::-moz-selection, code::-moz-selection, code span::-moz-selection {
  background:#2e3133;
}

pre::selection, code::selection, code span::selection {
  background:rgba(255,255,255,0.08);
}

#share{
  margin-top:20px;
  margin-bottom:-20px;
  font-size:13px;
  font-weight:600;
}

#share input{
  margin-left:10px;
  width: 250px;
  margin-right: -5px;
}

input{
  width:106px;
  padding:0px !important;
  padding-left: 6px!important;
  height: 27px;
  outline:none;
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
}

input{border-radius:2px;border:1px solid #aaa;}


select{
  padding:5px;
  min-width:114px;
  outline:none;
}

#spinner_loader{
  display:inline-block;
}

a{color:#000; text-decoration: none; font-weight:600;}
a:hover{text-decoration: underline;}

#wrap{
  width:800px;
  margin:0 auto;
}

main, footer{
  width:800px;
  margin:0 auto;
}

footer{
  color:#777;
  margin-top:40px;
  background: rgba(0,0,0,0.03);
  border-radius: 3px;
  padding: 5px;
  font-size: 13px;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.flex_col { flex-direction: column; -webkit-box-orient: vertical; -webkit-flex-direction:column;}
.flex_fill_col { min-height: 100vh; }
.flex_fill { width: 100%; }
.flex_fix {
  -webkit-box-flex: 0 0 auto;
  -moz-box-flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex_space{ padding:0px 0px 15px 15px;}

.flex_fix_v {
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}